html {

}

#scene {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 50px auto;
}

.point {
  position: absolute;
  border-radius: 50%;
}

.wrapper3 {
      position: absolute;
      float: left;
      margin: 500px 700px;
}

  .Trumbling{
        color: #ffffff;
        text-align: center;
        text-decoration: none;
             position: absolute;
    left: 12px;
    top: 250px;
    font-size: 14px;
        font-family: "Verdana";
    z-index: 1;
    }