- var n = 4
#spinner.sequence4
  while n
    .orbit(class="o"+(n--))

select.menu
  option(value=1) Sequence 1
  option(value=2) Sequence 2
  option(value=3) Sequence 3
  option(value=4 selected) Sequence 4