html, body {
  height: 100%;
}

body {

  min-height: 100%;
  overflow: hidden;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, -100px);
            transform: translate3d(0, 0, -100px);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, -100px);
            transform: translate3d(0, 0, -100px);
  }
}
.container2 {
  position: relative;
  width: 100px;
  min-height: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.particle-wrap {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-perspective: 200px;
          perspective: 200px;
}

.particle {
  position: absolute;
  background: black;
  opacity: .7;
  border-radius: 50%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

.particle:nth-child(1) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(212px, 120px, 102px);
          transform: translate3d(212px, 120px, 102px);
  background: #6c528e;
}

.particle:nth-child(2) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(30px, 27px, 113px);
          transform: translate3d(30px, 27px, 113px);
  background: #6c528e;
}

.particle:nth-child(3) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(84px, 82px, 133px);
          transform: translate3d(84px, 82px, 133px);
  background: #6c528e;
}

.particle:nth-child(4) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(94px, 74px, 180px);
          transform: translate3d(94px, 74px, 180px);
  background: #6c528e;
}

.particle:nth-child(5) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(59px, 97px, 117px);
          transform: translate3d(59px, 97px, 117px);
  background: #6c528e;
}

.particle:nth-child(6) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(322px, 28px, 163px);
          transform: translate3d(322px, 28px, 163px);
  background: #6c528e;
}

